@font-face {
    font-family: 'Comic Panels';
    src: url(comic-panels-font/ComicPanels-oln0.ttf);
}

body {
    align-items: center;
    background-color: #91CCE9;
    color: #000;
    display: flex;
    flex-direction: column;
    font-family: 'Comic Panels';
    margin: 0;
    padding: 0;
}

.border {
    border: 3px solid #000;
    padding: 10px;
}

#btn-container {
    background-color: #fff;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

button {
    box-shadow: none;
    color: #000;
    font-family: 'Comic Panels';
    font-size: 28px;
    height: 75px;
    width: 200px;
}

#rock {
    background-color: #55B0DD;
}

#paper {
    background-color: #dddd55;
}

#scissors {
    background-color: #de5555;
}

#results-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

#score-container {
    background-color: #fff;
    display: flex;
    gap: 10px;
    justify-content: center;
    text-align: center;
}

.score {
    flex: 1 1 0;
}

h2 {
    font-size: 36px;
}

.score-display {
    font-size: 48px;
    padding-bottom: 20px;
}

#player-results{
    background-color: #E9E991;
}

#computer-results {
    background-color: #E99191;
}

#outcome-container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.outcome {
    background-color: #fff;
    margin: 1em 0 3em;
    padding: 35px;
    position: relative;
    text-align: center;
}

.outcome:empty {
    display: none;
}

#round-outcome::before {
    border: 0;
    border-color: transparent #fff;
    border-bottom-width: 20px;
    border-right-width: 30px;
    border-style: solid;
    bottom: -20px;
    content: '';
    display: block;
    left: 60px;
    position: absolute;
    width: 0;
}

#round-outcome {
    font-size: 20px;
}

#final-outcome::before {
    border: 0;
    border-color: transparent #fff;
    border-bottom-width: 20px;
    border-left-width: 30px;
    border-style: solid;
    bottom: -20px;
    content: '';
    display: block;
    right: 60px;
    position: absolute;
    width: 0;
}

#final-outcome {
    font-size: 24px;
}

#round-outcome {
    max-width: fit-content;
}